In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [3]:
dict_medidas = { 'idade': [15, 18, 25, 25, 48, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176] }
dict_medidas

{'idade': [15, 18, 25, 25, 48, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [4]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     48     172
5     55     174
6     58     174
7     60     174
8     80     176